{% load humanize %}
{% for post in posts %}
    <div class="row g-0  position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img
                    style="object-fit: cover"
                    width="428"
                    height="200"
                    {% if  post.image %}
                        src="{{ post.image.url }}"
                    {% endif %}
                    class="w-100"
                    alt="article image">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0 text-capitalize">{{ post.title }}</h5>
            <small class="text-muted">{{ post.date_posted|naturaltime }}</small>
            {% autoescape off %}
                <p>{{ post.snippet }}</p>
            {% endautoescape off %}
            <p class="card-text">
                <img
                        src="{{ post.author.profile.image.url }}"
                        alt="{{ post.author.username }} profile picture"
                        width="25"
                        height="25"
                        class="img-fluid rounded">
                <span class="text-capitalize">{{ post.author.username }}</span>
                <a href="{%url 'blog_detail' post.id %}" class="stretched-link"></a>
        </div>
    </div>
    <hr>
{% endfor %}
