{% load humanize %}
{% for post in posts %}
    <div class="row g-0 position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            {% if post.image %}
                <img
                        style="object-fit: cover"
                        width="428"
                        height="200"
                        {% if post.image %}
                        src="{{ post.image.url }}"
                        {% endif %}
                        class="w-100"
                        alt="article image">
            {% endif %}
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0 text-capitalize">{{ post.title }}</h5>
            <small class="text-muted">{{ post.date_posted|naturaltime }}</small>
            {% for tag in post.tags.all %}
                <span class="badge text-bg-{{ tag_colour }}">{{ tag }}</span>
            {% endfor %}
            {% autoescape off %}
                <p>{{ post.snippet }}</p>
            {% endautoescape off %}
            <p class="card-text">
                <img
                        src="{{ post.author.profile.image.url }}"
                        alt="{{ post.author.username }} profile picture"
                        width="25"
                        height="25"
                        class="img-fluid rounded">
            <form role="search">
                <span class="text-capitalize">
                    <a type="submit"
                       href="{% url 'blog_user_posts' post.author.username %}?title={{ request.GET.title }}&author={{ post.author.username }}&tags={{ request.GET.tags }}"
                       class="text-dark">{{ post.author.username }}
                    </a>
                </span>
            </form>
            <div>
                <a href="{% url 'blog_detail' post.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <hr>
{% endfor %}
