<form role="search">
    <div class="card-body">
        <div class="input-group">
            <input
                    autocomplete="false"
                    class="form-control"
                    type="search"
                    placeholder="Enter search term..."
                    name="title"
                    value='{{ request.GET.title }}'
                    aria-label="Enter search term..."
                    aria-describedby="button-search"
            >
            <button class="btn btn-primary" type="submit">Go!</button>
        </div>
    </div>

    <div class="container pb-4 mt-2">

        {% include 'partials/tags.html' %}

    </div>

</form>
