{% load humanize %}
{% load static %}

<nav class="navbar navbar-expand-lg sticky-top text-capitalize" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog_index' %}">
            <img src="{% static 'blog/logo.png' %}" alt="BrightHabit Logo" width="40" height="30">
            Bright <span class="text-warning">h</span>abit
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.view_name == 'blog_index' %} active{% else %}{% endif %}"
                       {% if request.resolver_match.view_name == 'blog_index' %}aria-current="page" {% endif %}
                       href="{% url 'blog_index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.view_name == 'blog_about' %} active{% else %}{% endif %}"
                       {% if request.resolver_match.view_name == 'blog_about' %}aria-current="page" {% endif %}
                       href="{% url 'blog_about' %}">About</a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 text-capitalize">




                {% if user.is_authenticated %}
                      <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.view_name == 'blog_create' %} active{% else %}{% endif %}"
                       {% if request.resolver_match.view_name == 'blog_create' %}aria-current="page" {% endif %}
                       href="{% url 'blog_create' %}">Add Post</a>
                </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span>{{ user.email }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <li>
                                    <button class="dropdown-item" type="submit">Logout</button>
                                </li>
                            </form>

                            {#              <a class="dropdown-item" href="#">Something else here</a>#}
                        </ul>
                    </li>


                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <a href="{% url 'register' %}" class="btn btn-warning text-capitalize" role="button">register</a>


                {% endif %}


            </ul>

        </div>
    </div>
</nav>