<form role="search">
    <div class="card-body">
        <div class="input-group">
            <input
                    autocomplete="false"
                    class="form-control"
                    type="search"
                    placeholder="Enter search term..."
                    name="title"
                    value='{{ request.GET.title }}'
                    aria-label="Enter search term..."
                    aria-describedby="button-search">
            <button class="btn btn-primary" type="submit">Go!</button>
        </div>
    </div>

    <div class="container pb-4 mt-2">

        {% block tags %}
        {% endblock %}

        <div class="form-check text-capitalize">
            <input class="form-check-input" type="checkbox" id="chk_toggle_tags" name="show_all_tags"
                   {% if request.GET.show_all_tags %} checked {% endif %}>
            <label class="form-check-label" for="chk_toggle_tags">
                show all
            </label>
        </div>

    </div>
</form>