{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Contact us
{% endblock %}

{% block content %}

<form method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom">Contact us</legend>
        <p>Please fill in the contact form to make an enquiry</p>
        {{ form|crispy }}
    </fieldset>
    <div class="form-group pb-3">
        <button type="submit" class="btn btn-primary">Send email</button>
    </div>
</form>

{% endblock %}
