{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}
{% block title %}
My profile
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="mb-4" id="rank_section">
                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" id="rank_progressbar"></div>
                </div>
                <small id="message"></small>
            </div>
            <div class="col-md-4">
                <img src="{{ user_profile_image }}"
                     class="img-fluid rounded-circle ratio ratio-1x1 overflow-hidden card-img-top"
                     style="object-fit: cover" width="100" height="100"
                     alt="{{ user.username }} profile">
            </div>
            <div class="col">
                <h2>{{ user.username }}</h2>
                <p>{{ user.email }}</p>
                <h4>{{ num_posts }} post{{plural}}</h4>
                {% if last_posted %}
                <p>Last posted: <strong>{{ last_posted.date_posted|naturaltime }}</strong></p>
                {% endif %}
                <input type="hidden" value="{{ num_posts }}" id="num_posts">
            </div>
            <div class="col">
                <div class="float-end">
                    <i class="fa-solid fa-medal fa-2xl" id="rank"></i>
                    <div>
                    </div>
                </div>
                <br>
                <a class="btn btn-primary text-capitalize"
                   href="{% url 'blog_user_posts' user.username %}?title="
                   role="button">my posts</a>
                <div class="mt-2">
                    {% for tag in post_tags %}
                    {{ tag.count }} <span class="badge text-bg-secondary">{{ tag.name }}</span><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4 mt-4 text-capitalize"> profile info</legend>
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
    </fieldset>
    <div class="form-group pb-3">
        <button type="submit" class="btn btn-outline-info text-capitalize">update profile</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/rank.js' %}"></script>
{% endblock %}