{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
    {% include 'blog/partials/register_form.html' %}
    {#    link: https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html?utm_source=youtube&utm_medium=video_description&utm_campaign=django_auth_tutorial&utm_content=channels#}
    {#https://stackoverflow.com/questions/8466851/making-first-name-last-name-a-required-attribute-rather-than-an-optional-one-in#:~:text=Just%20create%20a%20custom%20UserRegisterForm,CharField(...)%20.#}
{% endblock %}